<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/index :: head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menus</title>

</head>

<body class="hold-transition sidebar-mini">

    <nav th:replace="/index :: navegacion"></nav>

    <aside th:replace="/index :: barra_datos"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Contacto</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active">Contacto</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </section>



        <!-- Main content -->
        <section class="content">

            <!-- Default box -->
            <div class="card">
                <div class="card-body row">
                
                    <div class="col-12">
                        <form action="mailto:nmeneses@gmail.com" method="get" enctype="text/plain">
                       
                        <div class="form-group">
                            <label for="inputEmail">E-Mail</label>
                            <input type="email" id="inputEmail" class="form-control" name="email" />
                        </div>
                        <div class="form-group">
                            <label for="inputSubject">Asunto</label>
                            <input type="text" id="inputSubject" class="form-control" name="subject"/>
                        </div>
                        <div class="form-group">
                            <label for="inputMessage">Mensaje</label>
                            <textarea id="inputMessage" class="form-control" rows="4" name="body"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-primary" value="Enviar Correo">
                        </div>
                    </form>
                    </div>
                </div>
            </div>

        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->



    <footer th:replace="/index :: footer"></footer>
</body>

</html>